# 1. Setze Zeilenenden automatisch (Standard)
* text=auto

# 2. Ignoriere ALLES standardmäßig beim Export
* export-ignore

# 3. Mache Ausnahmen (Deaktiviere "ignore" für den addons Ordner)
addons/ -export-ignore
addons/** -export-ignore
